{% extends 'base.html' %}
{% block content %}
<h2>Quiz: {{ set.title }}</h2>
{% if finished %}
    <h3>Score: {{ score }} / {{ questions|length }}</h3>

    <ul>
    {% for r in results %}
        <li>
            <strong>{{ r.question.question_text }}</strong><br>
            Your answer: {{ r.selected or 'No answer' }}<br>
            Correct answer: {{ r.correct }}<br>
            {% if r.is_correct %}
                ✅ Correct
            {% else %}
                ❌ Incorrect
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% else %}
    <form method="POST">
        {% for q in questions %}
            <div>
                <p>{{ q.question_text }}</p>
                <input type="radio" name="{{ q.id }}" value="A"> A. {{ q.option_a }}<br>
                <input type="radio" name="{{ q.id }}" value="B"> B. {{ q.option_b }}<br>
                <input type="radio" name="{{ q.id }}" value="C"> C. {{ q.option_c }}<br>
                <input type="radio" name="{{ q.id }}" value="D"> D. {{ q.option_d }}<br>
            </div>
        {% endfor %}
        <input type="submit" value="Submit Quiz">
    </form>
{% endif %}

{% endblock %}
